@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradient 8s ease infinite;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.1;
  z-index: 0;
  pointer-events: none;
}

.shadow-top {
  box-shadow: 0 -8px 16px rgba(0, 0, 0, 0.2);
}
